body {
    background-color:black;
    color:white;
    overflow:hidden;
    animation:delay-overflow 1s ease forwards;
}
h1 {
    font-family:Poplar;
    font-weight:normal;
}
h2, p {
    font-family:Courier;
}
ul {
    list-style:none;
    line-height:35px;
}
::selection {
    background: white;
    color:black;
}
::-moz-selection {
    background: white;
    color:black;
}
#home_container h1 {
    font-size:750%;
    margin-bottom:0px;
    src: url('./PoplarStd.ttf');
    letter-spacing:8px;
}
#home_container {
    margin:0 auto;
    margin-top:40vh;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:fit-content;
}
#home_menu {
    display:flex;	
    justify-content:space-between;
    font-size:200%;
    font-family:Courier New;
    font-weight:bold;
    letter-spacing:2px;
    opacity:0;
    animation:fade-in 1s 3s ease-in-out forwards;
}
.home-div-1 {
    display:initial;
}
.home-div-2 {
    display:none;
    width:250px;
}
a:before {
    opacity:0;
    content:">"; 
    transition:all 0.2s ease;
    color:#006c00;
}
.body_container a{
    color:black;
}
.body_container h1{
    margin-bottom:40px;
}
a{
    transition:all 0.4s ease;
    text-decoration:none;
    color:white;
}
a:hover{
    color:#006c00;
}
a:hover:before {
    opacity:1;
}
#contact-bar a:before {
    display:none;
}
#contact-bar a:after {
    display:none;
}
a:after{
    content:'';
    top:-1px;
    left:210px;
    width:0;
    height:0;
    border-left:15px solid #006c00;
    opacity:0;
    transition:all 0.4s ease;
}
a:hover:after {
    animation: blink 0.6s ease infinite;
    opacity:1;
}
#name{
    position:absolute;
    margin:0;
}
#name:after {
    animation: blink 0.6s ease infinite;
    content:'';
    top:-1px;
    left:210px;
    width:0;
    height:0;
    border-left:15px solid #ffffff;
}
#name.hidden:after {
    opacity:0;
    animation:none;
}
.page_heading {
    font-family:Poplar;
    font-size:100px;
    padding:30px;
    margin-bottom:-30px;
    opacity:0;
    animation:fade-in 1s ease forwards;
}
.page_subhead {
    padding:20px;
    font-family:Courier;
    font-size:22px;
    opacity:0;
    animation:fade-in 1s ease forwards;
}
.body_container {
    width:50%;
    color:black;
    margin:0 auto;
    margin-top:100vh;
    background-color:white;
    height:auto;
    animation:slide-up 0.4s ease forwards;
}
.body_container h1::selection, .body_container p::selection {
    background:black;
    color:white;
}
.body_container h1::-moz-selection, .body_container p::-moz-selection {
    background:black;
    color:white;
}
.body_heading {
    font-size:80px;
    padding:50px;
    line-height:80px;
}
.body_p {
    width:500px;
    margin:0 auto;
    font-size:18px;
    line-height:35px;
}
#subhead {
    margin-top:-20px;
    margin-bottom:0px;
    text-align:center;
    font-size:200%;
    font-family:Courier;
    letter-spacing:2px;
    animation:fade-in 1s 2.5s ease-in-out forwards;
    opacity:0;
}
#split-list {
    display:flex;
    justify-content:space-around;
}
.split_list_part {
    font-family:Courier;
    text-decoration:none;
    font-size:18px;
}
#contact-bar {
    display:flex;
    justify-content:space-between;
    width:500px;
    margin:0 auto;
    margin-top:50px;
}
.contact_button {
    width:50px;
    cursor:pointer;
    transition:all 0.4s ease;
}
.contact_button:hover {
    filter:invert(1);
}

@media screen and (max-width:700px) {
    #name {
        text-align:center;
        line-height:100px;
    }
    #subhead {
        opacity:0 !important;
        position:absolute;
    }
    #home_menu {
        flex-direction:column;
        text-align:center;
    }
    #home_container {
        margin-top:30vh;
    }
    #home_container h1 {
        margin-bottom:-40px;
    }
    .home-div-1 {
        display:none;
    }
    .home-div-2 {
        display:initial;
    }
}

@keyframes blink{
    0% {opacity:0;}
    50% {opacity:1;}
    100%{opacity:0;}
}

@keyframes fade-in {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fade-out {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slide-up {
    0% {margin-top:100vh;}
    100%{margin-top:100px;}
}

@keyframes slide-down {
    0%{margin-top:100px;}
    100% {margin-top:100vh;}
}

@keyframes delay-overflow {
    0% {overflow:hidden;}
    100%{overflow:auto;}
}

@font-face {
    font-family: 'Poplar';
    src: url('PoplarStd.otf');
}
