/**ALL**/
body {
    overflow-x:hidden !important;
    background-color:black;
    color:white;
    /*overflow:hidden;
    animation:delay-overflow 1s ease forwards;*/
    margin:0;
}
hr {
    margin-bottom:20px;
    animation:fade-in 1s 2s ease backwards;
}
h1 {
    font-family:Poplar;
    font-weight:normal;
}
h2, p {
    font-family:Akkurat, Courier;
}
ul {
    list-style:none;
    line-height:35px;
}
::selection {
    background: #006c00;
    color:white;
}
::-moz-selection {
    background: #006c00;
    color:white;
}
a {
    transition:all 0.4s ease;
    text-decoration:none;
    color:white;
}
a:hover, .proj_select:hover{
    color:#006c00;
}
a:hover:before, .proj_select:hover:before {
    opacity:1;
}
a:before, .proj_select:before {
    opacity:0;
    content:">"; 
    transition:all 0.2s ease;
    color:#006c00;
}
a:after, .proj_select:after{
    content:'';
    top:-1px;
    width:0;
    height:0;
    border-left:15px solid #006c00;
    opacity:0;
    transition:all 0.4s ease;
}
a:hover:after, .proj_select:hover:after {
    animation: blink 0.6s ease infinite;
    opacity:1;
}
.body_container a{
    color:black;
}
.body_container a:hover{
    color:#006c00;
}
.body_container h1{
    margin-bottom:40px;
}
.page_heading {
    font-family:Poplar;
    font-size:100px;
    padding:30px;
    margin-bottom:-30px;
    opacity:0;
    animation:fade-in 1s ease forwards;
    display:inline-block;
    margin-top:20px;
    padding-bottom:0px;
    transition: all 0.4s ease;
}
.page_subhead, #page_select {
    padding:20px;
    font-family:Akkurat, Courier;
    font-size:22px;
    opacity:0;
    animation:fade-in 1s ease forwards;
    display:block;
}
#page_select {
    display:inline-block;
    float:right;
    margin-right:50px;
    margin-top:20px;
    transition:color 0.4s ease;
}
.body_container {
    width:50%;
    color:black;
    margin:0 auto;
    margin-top:100vh;
    background-color:white;
    height:auto;
    animation:slide-up 0.4s ease forwards;
}
.body_heading {
    font-size:80px;
    padding:50px;
    line-height:80px;
}
.body_p {
    width:500px;
    margin:0 auto;
    font-size:18px;
    line-height:35px;
    font-family:Akkurat, Courier;
}
#subhead {
    margin-top:-20px;
    margin-bottom:0px;
    text-align:center;
    font-size:190%;
    font-family:Akkurat, Courier;
    font-weight:normal;
    letter-spacing:2px;
    animation:fade-in 1s 2.5s ease-in-out forwards;
    opacity:0;
}


/**HOME PAGE**/
#home_container h1 {
    font-size:750%;
    margin-bottom:0px;
    src: url('./PoplarStd.ttf');
    letter-spacing:8px;
}
#home_container {
    margin:0 auto;
    margin-top:40vh;
    width:662px;
}
#home_menu {
    display:flex;	
    justify-content:space-between;
    font-size:150%;
    font-family:Akkurat, Courier New;
    letter-spacing:2px;
    opacity:0;
    animation:fade-in 1s 3s ease-in-out forwards;
}
.home-div-1 {
    display:initial;
}
.home-div-2 {
    display:none;
    width:250px;
}
#name{
    position:absolute;
    margin:0;
}
#name:after {
    animation: blink 0.6s ease infinite;
    content:'';
    width:0;
    height:0;
    border-left:15px solid #ffffff;
}
#name.hidden:after {
    opacity:0;
    animation:none;
}


/**CONTACT PAGE**/
#contact-bar a:before {
    display:none;
}
#contact-bar a:after {
    display:none;
}
#contact-bar {
    display:flex;
    justify-content:space-between;
    width:500px;
    margin:0 auto;
    margin-top:50px;
}
.contact_button {
    width:50px;
    cursor:pointer;
    transition:all 0.4s ease;
}
.contact_button:hover {
    filter:sepia(1) saturate(10) hue-rotate(72deg) brightness(0.2);
}


/**ABOUT PAGE**/
#split-list {
    display:flex;
    justify-content:space-around;
}
.split_list_part {
    font-family:Akkurat, Courier;
    text-decoration:none;
    font-size:18px;
}


/**PROJECTS PAGE**/
.proj_select {
    transition:all 0.4s ease;
    cursor:pointer;
}
.project {
    transition:all 0.4s ease;
}
.project:hover {
    box-shadow:inset -8px 0px 1px #006c00;
    transition:all 0.4s ease;
}
.project:hover .photo_container {
    /*opacity:1; */
    animation:slide-up-p 0.4s ease forwards;
    pointer-events:all;
}
.project h1 {
    margin:0;
    padding-top:70px;
}
.body_container.proj {
    transition:all 0.4s ease;
    pointer-events:none;
    position:absolute;
    padding-bottom:50px;
}
.body_container.proj.selected {
    opacity:1;
    pointer-events:all;
}
.proj_select.selected {
    color:green;
}
.photo_container {
    overflow:auto;
    text-align:center;
    width:40%;
    background-color:white;
    position:fixed;
    top:0px;
    pointer-events:none;
    right:3vw;
    height:100%;
    opacity:0;
    margin-top:-110vh;
    animation:slide-off-p 0.4s ease;
    padding-top:20px;
}
.photo_container img {
    width:90%;
    margin:10px;
    margin-bottom:50px;
    border: 1px solid grey;
    display:initial;
}
.photo_container_icon {
    display:none;
}
.video {
    padding-bottom:50px;
    position:relative;
    width:25vw;
    left:10vw;
    height:315px;
    z-index:99;
}



@media screen and (max-width:960px) {
    #name {
        text-align:center;
        line-height:100px;
    }
    #subhead {
        display:none;
        position:absolute;
    }
    #home_menu {
        flex-direction:column;
        text-align:center;
    }
    #home_container {
        width:100%;
        margin-top:30vh;
    }
    #home_container h1 {
        margin-bottom:-40px;
    }
    .home-div-1 {
        display:none;
    }
    .home-div-2 {
        display:initial;
    }
    .body_container {
        width:100%;
    }
    .body_p {
        width:95%;
    }
    .body_heading {
        font-size:40px;
        padding:20px;
        line-height:40px;
        width:100% !important;
    }
    .body_container h1 {
        margin-bottom:20px;
    }
    .body_container.proj.selected {
        width:100% !important;
        margin:0 !important;
    }
    .photo_container {
        animation:none;
        position:static;
        opacity:1;
        margin-top:0px;
        width:100%;
    }
    .photo_container_icon{
        content:'+';
        font-size:30px;
        font-weight:bold;
        transition:all 0.4s ease;
        display:inherit;
    }
    .show {
        display:initial !important;
    }
    .photo_container img {
        display:none;
        animation:fade-in 0.4s ease forwards;
    }
    .project {
        box-shadow:none !important;
    }
    .project:hover .photo_container {
        animation:none;
    }
    #contact-bar {
        width:95%;
    }
}

@media screen and (max-width:460px) {
    #split-list {
        flex-direction:column;
    }
    .split_list_part {
        margin:0 auto;
    }
    #split-list-div {
        display:none;
    }
}

@keyframes blink{
    0% {opacity:0;}
    50% {opacity:1;}
    100%{opacity:0;}
}

@keyframes fade-in {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fade-out {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slide-up {
    0% {margin-top:100vh;}
    100%{margin-top:100px;}
}

@keyframes slide-down {
    0%{margin-top:100px;}
    100% {margin-top:100vh;}
}

@keyframes slide-up-p {
    0% {margin-top:100vh;}
    100%{margin-top:0px;}
}

@keyframes slide-off-p {
    0% {margin-top:0px;}
    100%{margin-top:-105vh;}
}

@keyframes delay-overflow {
    0% {overflow:hidden;}
    100%{overflow:auto;}
}

@font-face {
    font-family: 'Poplar';
    src: url('PoplarStd.otf');
}

@font-face {
    font-family: 'Akkurat';
    src: url('AKKURAT-Mono.OTF');
}
