body {
	background-color:black;
	color:white;
}
#home_container h1 {
	font-size:500%;
	margin-bottom:5%;
	font-family:Poplar;
	src: url('./PoplarStd.ttf');
}
#home_container {
	margin:0 auto;
	margin-top:40vh;
	width:-moz-fit-content;
	width:-webkit-fit-content;
	width:fit-content;
}
#home_menu {
	display:flex;	
	justify-content:space-between;
	font-size:150%;
	font-family:Helvetica;
}
@font-face {
	font-family: 'Poplar';
	src url("./PoplarStd.ttf");
}
